<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sherpa.mapper.MountainMapper">
    
    <resultMap id="mountain" type="com.sherpa.v1.mountain.MountainDTO">
        <result property="code" column="mcode" javaType="java.lang.String"/>
        <result property="name" column="mname" javaType="java.lang.String"/>
        <result property="height" column="mheight" javaType="java.lang.Integer"/>
        <result property="address" column="maddress" javaType="java.lang.String"/>
        <result property="management" column="mmanagement" javaType="java.lang.String"/>
        <result property="detail" column="mdetail" javaType="java.lang.String"/>
        <result property="summary" column="msummary" javaType="java.lang.String"/>
        <result property="imageURL" column="mImageUrl" javaType="java.lang.String"/>
        <result property="isFamous" column="is_Famous" javaType="java.lang.Integer"/>
    </resultMap>

    <insert id="add" parameterType="com.sherpa.v1.mountain.MountainDTO">
      insert ignore into mountains
      values(null, #{code},#{name},#{height},#{address},#{management},#{detail},#{summary},#{imageURL},#{isFamous})
    </insert>

    <update id="updateImage" parameterType="com.sherpa.v1.mountain.MountainImageDTO">
      update mountains set mImageUrl=#{imageURL} where mcode=#{code}
    </update>

    <update id="updateFamous" parameterType="com.sherpa.v1.mountain.FamousMountainDTO">
      update mountains set is_famous=0 where mcode=#{code}
    </update>

    <select id="getFamousMountains" parameterType="Integer" resultMap="mountain">
        select mcode, mname, mheight, maddress, mmanagement, mdetail, msummary, mImageUrl, is_Famous from mountains where is_Famous = 0 and mImageUrl is not null
        limit #{size}, 10
    </select>

    <select id="getAroundMountains" parameterType="String" resultMap="mountain">
        select mcode, mname, mheight, maddress, mmanagement, mdetail, msummary, mImageUrl, is_Famous from mountains where maddress like concat(#{city},'%')
    </select>

    <select id="getEasyMountains" parameterType="Integer" resultMap="mountain">
        select mcode, mname, mheight, maddress, mmanagement, mdetail, msummary, mImageUrl, is_Famous from mountains where mheight between 1 and 300
        and mImageUrl is not null limit #{size}, 10
    </select>

    <select id="getDifficultMountains" parameterType="Integer" resultMap="mountain">
        select mcode, mname, mheight, maddress, mmanagement, mdetail, msummary, mImageUrl, is_Famous from mountains where mheight > 700
        and mImageUrl is not null limit #{size}, 10
    </select>

    <select id="getMountainCode" parameterType="String" resultType="String">
        select mcode from mountains where mname = #{name}
    </select>

    <select id="getCity" parameterType="String" resultType="String">
        select maddress from mountains where mname = #{name}
    </select>

    <select id="getMountainsWithBaby" parameterType="Integer" resultMap="mountain">
        select mcode, mname, mheight, maddress, mmanagement, mdetail, msummary, mImageUrl, is_Famous from mountains where mheight between 1 and 150
        and mImageUrl is not null limit #{size}, 10
    </select>

    <select id="getAutumnMountains" parameterType="Integer" resultMap="mountain">
        select mcode, mname, mheight, maddress, mmanagement, mdetail, msummary, mImageUrl, is_Famous from mountains where mdetail like '%가을%'
        and mImageUrl is not null limit #{size}, 10
    </select>

    <select id="getPopularMountains" parameterType="Integer" resultMap="mountain">
        select mcode, mname, mheight, maddress, mmanagement, mdetail, msummary, mImageUrl, is_Famous from mountains where mdetail like '%인기%'
        and mImageUrl is not null limit #{size}, 10
    </select>

    <select id="getVallyMountains" parameterType="Integer" resultMap="mountain">
        select mcode, mname, mheight, maddress, mmanagement, mdetail, msummary, mImageUrl, is_Famous from mountains where mdetail like '%계곡%'
        and mImageUrl is not null limit #{size}, 10
    </select>

</mapper>