<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sherpa.mapper.MountainMapper">

    <insert id="add" parameterType="com.sherpa.v1.mountain.MountainDTO">
      insert ignore into mountains
      values(null, #{code},#{name},#{height},#{address},#{management},#{detail},#{summary},#{imageURL},#{isFamous})
    </insert>

    <update id="updateImage" parameterType="com.sherpa.v1.mountain.MountainImageDTO">
      update mountains set mImageUrl=#{imageURL} where mcode=#{code}
    </update>
</mapper>